{% extends 'base.html.twig' %}

{% block title %}Liste de candidats{% endblock %}

{% block body %}
<style>
.oral-form {
    display: none;
}
</style>
<div class="container">
    <div class="row">
        <div class="jumbotron mt-5 w-100">
            <div class="row">
                <div class="col-4">
                    <img src="{{ student.avatar }}" width="60%" height="100%"/>
                </div>
                <div class="col-8 mt-5">
                    <span class="badge badge-primary py-1 px-1">id : {{ student.moodleid }}</span>
                    <h1 class="display-3">{{ student.fullname }}</h1>
                    <p class="lead">email : {{ student.email }} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="jumbotron mt-5 w-100 oral-form">
            
        </div>
    </div>
    <div class="row">
        <div class="jumbotron mt-5 w-100">
        <a href="{{path('student_form', {id : student.id})}}">
            <button class="btn btn-primary mb-2">
                {% if results[0].oral is empty %}
                    Ajouter les notes orale
                {% else %}
                    Editer les notes orale
                {% endif %}
            </button>
        </a>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Critère</th>
                        <th scope="col">Déscription</th>
                        <th scope="col">Note elearning</th>
                        <th scope="col">Note oral</th>
                        <th scope="col">Moyenne générale</th>
                        <th scope="col">Debrief</th>
                    </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr>
                        <td>{{ result.criteria.id }}</td>
                        <td>{{ result.criteria.name }}</td>
                        <td>{{ result.elearning }}</td>
                        <td>{{ result.oral }}</td>
                        <td>{{ result.average}} %</td>
                        <td>{{ result.acquis }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}